@tailwind base;
@tailwind components;
@tailwind utilities;

.top-container > * {
  flex-shrink: 0;
}

.spinner-container {
  stroke-linecap: round;
}

.spinner {
  animation: rotator 1s linear infinite;
}

@keyframes rotator {
  100% {
    transform: rotate(360deg);
  }
}

.spinner-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transform-origin: center;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

