@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#__next > .footer {
  margin-top: auto;
}

#__next > * {
  flex-shrink: 0;
}
